---
pagination:
  data: categorias
  size: 1
  alias: categoria
  addAllPagesToCollections: true
permalink: "categorias/{{categoria.id}}/{{categoria.nombre | slug}}/index.html"
tags:
  - categoria
---
{% extends "base.njk" %}

{% block head %}{% endblock %}

{% block content %}
  <!-- BUSCADOR-->
  <div class="w-100" style="background-image:url('/ELEMENTOS/ELEMENTOS_WEB SERVICIOS/SLIDER/SLIDER-SERVICIOS_02.png');background-size:cover">
    <div class="container" style="padding:5rem 0">
      <div class="row">
        <div class="col-12 py-2" style="justify-content: center;">
          <h1 style="color: #fff!important" class="text-center">{{categoria.nombre}}</h1>
          <br>
          <br>

          <div class="col-md-12" style="justify-content: center; display: none;">
            <div class="flexsearch">
              <div class="flexsearch--wrapper">
                <form class="flexsearch--form" action="#" method="post">
                  <div class="flexsearch--input-wrapper">
                    <input class="flexsearch--input" type="search" placeholder="Buscar">
                  </div>
                  <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--CONTENIDO-->
  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row">

          {% for item in collections[categoria.nombre] %}
            <div class=" col-md-4 col-lg-4 " style="padding:0!important">
              <br>
              <div class="border" style="margin:1rem;height:80%!important;display:flex;padding:35px 5%">
                <div style="margin:auto 1rem auto 0">
                  <img src="/ELEMENTOS/ELEMENTOS_WEB SERVICIOS/SERVICIOS/90 X 90/07.png" style="height:40px">      
                </div>
                <div style="margin:auto">  
                  <a href="{{item.url}}">
                    <h4 class="text-left">
                      {{item.data.servicio.Nombre}}
                    </h4>
                  </a>
                  <a href="{{item.url}}">
                    <p class="text-left text-break">
                      {{item.data.servicio.Ministerios}}
                    </p>
                  </a>
                  <a href="{{item.url}}">
                    <p class="text-left text-break">
                      {{item.data.servicio.Descripcion}}
                    </p>
                  </a>
                  
                </div>
              </div>
              <br>
            </div>
          {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}