---
pagination:
  data: entidades
  size: 1
  alias: entidad
  addAllPagesToCollections: true
permalink: "{{entidad.Nombre_de_Institucion}}/index.html"
tags:
  - entidad
---
{% extends "base.njk" %}

{% block head %}{% endblock %}

{% block content %}
{% endblock %}