{% extends "base.njk" %}

{% block head %}{% endblock %}

{% block content %}

    <div class="w-100" style="background-color: #03324e">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 py-2" style="justify-content: center;">
                <h1 style="color: #fff!important" class="text-center">Encuentra Unidades Ejecutoras del Estado</h1>
                <br>
                <br>
                <div class="col-md-12" style="justify-content: center;">
                    <div class="w-auto mx-auto" style="max-width: 400px; z-index: 1000;">
                    <div class="field">
                        <input class="form-control mx-auto" type="search" placeholder="Buscar" id="searchField" style="max-width: 400px;"/>
                    </div>
                    <div id="searchResultsContainer" class="w-100 rounded bg-white shadow-sm mx-auto" style="max-width: 400px;">
                        <ol id="searchResults" style="z-index: 20;">
                        </ol>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #searchResults {

            max-height: 10rem;
            overflow: auto;
            background: white;
            width: 100%;
            position: relative;
            margin: 5px;
      }
    </style>
{% endblock %}

{% block body_javascripts %}
    <!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
    <script>
      (function(window, document) {
      "use strict";

      const search = e => {
        const results = window.searchIndex.search(e.target.value);

        const ol = document.getElementById("searchResults");
        const searchResultsContainer = document.getElementById("searchResultsContainer");
        ol.innerHTML = "";
        searchResultsContainer.style.position = 'none';
        if (results && results.length > 0) {
          searchResultsContainer.style.position = 'absolute';
          results.map(r => {
            const { id, nombre, ministerios } = r.doc;

            // this is where you'll go wild with your own HTML injection.
            const li = document.createElement("li");
            ol.appendChild(li);

            const a = document.createElement("a");
            a.setAttribute("href", id);
            a.textContent = `${nombre}, ${ministerios}`;
            li.appendChild(a);
          });
        }
      };

      fetch("/search-indexUE.json").then(response =>
        response.json().then(rawIndex => {
          window.searchIndex = elasticlunr.Index.load(rawIndex);
          document.getElementById("searchField").addEventListener("input", search);
        })
      );
    })(window, document);
    </script>
{% endblock %}