---
pagination:
  data: serviciosFull
  size: 1
  addAllPagesToCollections: true
  alias: servicio
tags:
  - servicio
  - {{servicio.categoria | slug}}
permalink: "servicio/{{servicio.categoria | slug}}/{{servicio.unidad_ejecutora | slug}}/{{servicio.nombre | slug}}/index.html"
---

{% extends "base.njk" %}


{% block head %}

{% endblock %}

{% block content %}

  <!--CONTENIDO-->

  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row">
        <div class="bg-white col-lg-12">
          <br>
          <div class="d-flex">
            <a  href="index.html" style="color: #03324e!important;text-decoration: underline!important;"> Inicio</a>
            <p>&nbsp / &nbsp</p>
            <p>{{servicio.categoria}}</p>
            <p>&nbsp / &nbsp</p>
            <a href="perfil1.html" style="color: #03324e!important;text-decoration: underline!important;">{{servicio.unidad_ejecutora}}</a>
          </div>
          <br>

          <h1 class="break-word">{{servicio.nombre}}</h1>
          <small>

          //servicio.enlace
            Información proporcionada por: <br>
            {{servicio.unidad_ejecutora}}
          </small>
          <br>
          <small>
            Última actualización: <br>
            13/01/2021
          </small>
          <br>
          <br>
          <h4 class="text-left">Descripción</h4>
          <p>{{servicio.nombre}}</p>
          <br>
          <a target="_blank" href="{{servicio.enlace}}" class="btnAzulO centrado5">Ir al trámite en línea</a> <br>
        </div>

        <div class="bg-white col-lg-5">
          <div class="container">
            <div class="col-12" style="justify-content: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

              <div class="col-12 border" style="background-color: #03324e; border-radius: 20px; display: none;">
                <br>
                <h4 class="text-white">¿Tienes dudas con este servicio?</h4>
                <h6 class="text-white">Comunicate con nosotros:</h6>
                <br>
                <div class="row" style="justify-content: center;">
                  <a href="" class="nav-link-social text-white" target="_blank"><i class="fa fa-facebook" aria-hidden="true" > Facebook</i></a>     
                </div>
                <div class="row" style="justify-content: center;">
                  <a href="" class="nav-link-social text-white" target="_blank"><i class="fa fa-twitter" aria-hidden="true" > Twitter</i></a>
                </div>           
                <div class="row" style="justify-content: center;">
                  <a href="" class="nav-link-social text-white" target="_blank"><i class="fa fa-instagram" aria-hidden="true" > Instagram</i></a>
                </div>
                <br>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--PAGINAS IMPORTANTES-->
  <div class="w-100">
    <div class="container py-5">
      <div class="row">
        
        <div class="col-md-4 border">
          <br>
          <h4 class="text-left" style="color: #03324e">Publicado por Institucion</h4>  
          <h3>Consulta de tramite</h3>
          <p><strong>Tramite en linea</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <br>
        </div>

        <div class="col-md-4 border">
          <br>
          <h4 class="text-left" style="color: #03324e">Publicado por Institucion</h4>  
          <h3>Consulta de tramite</h3>
          <p><strong>Tramite en linea</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <br>
        </div>

        <div class="col-md-4 border">
          <br>
          <h4 class="text-left" style="color: #03324e">Publicado por Institucion</h4>  
          <h3>Consulta de tramite</h3>
          <p><strong>Tramite en linea</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <br>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}
