---
pagination:
  data: serviciosFull
  size: 1
  addAllPagesToCollections: true
  alias: servicio
tags:
  - servicio
  - {{servicio.Categoria | slug}}
permalink: "servicio/{{servicio.ID}}/{{servicio.Categoria | slug}}/{{servicio.Unidad_Ejecutora | slug}}/{{servicio.Nombre | slug}}/index.html"
---

{% extends "base.njk" %}


{% block head %}

<!--LINK DE REFERENCIA PARA RATING https://www.youtube.com/watch?v=KdO9P8FnVN4&t=0s-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

  <!--CONTENIDO-->

  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row">
        
        <div class="bg-white col-lg-7">
          <br>
          <div class="d-flex">
            <a  href="/index.html" style="color: #03324e!important;text-decoration: underline!important;"> Inicio</a>
            <p>&nbsp / &nbsp</p>
            <a  href="/{{servicio.Ministerios}}/index.html" style="color: #03324e!important;text-decoration: underline!important;">{{servicio.Ministerios}}</a>
            <p>&nbsp / &nbsp</p>
            <a href="#" style="color: #03324e!important;text-decoration: underline!important;">{{servicio.Categoria}}</a>
            <!--/{{servicio.Categoria}}/index.html-->
            <p>&nbsp / &nbsp</p>
            <a href="/{{servicio.Unidad_Ejecutora}}/index.html" style="color: #03324e!important;text-decoration: underline!important;">{{servicio.Unidad_Ejecutora}}</a>
          </div>
          <br>

          <h1 class="break-word">{{servicio.Nombre}}</h1>
          <small>

          
            Información proporcionada por: <br>
            {{servicio.Unidad_Ejecutora}}
          </small>
          <br>
          <small>
            Última actualización: <br>
            13/01/2021
          </small>
          <br>
          <br>
          <h4 class="text-left">Descripción</h4>
          <p>{{servicio.Descripcion}}</p>
          <br>
          <a target="_blank" href="{{servicio.Enlace}}" class="btnAzulO centrado5">Ir al trámite en línea</a> <br>
        </div>

        <!--Rating-->
        <div class="bg-white col-lg-5">
          <div class="container">
            <div class="col-12" style="justify-content: center;">

              <h4>Puntea este servicio!</h4>

              <div id="containerR" class="containerR">
                <div class="postR">
                  <div class="textR">Gracias por el Comentario!</div>
                </div>
                <div class="star-widget">
                  <input type="radio" name="rate" id="rate-5">
                  <label for="rate-5" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-4">
                  <label for="rate-4" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-3">
                  <label for="rate-3" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-2">
                  <label for="rate-2" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-1">
                  <label for="rate-1" class="fas fa-star"></label>
                  
                  <form action="#" onsubmit="return postToGoogle();return ocultar();">
                    <header></header>
                    <div class="textarea">
                      <textarea id="comentario" cols="30" placeholder="Describe la puntuación..."></textarea>
                    </div>
                    <div class="btn">
                      <button type="submit" id="send" onclick="ocultar()">Comentar</button>
                    </div>
                  </form>
                </div>
              </div>
                
            </div>

            <h3 id="success-msg" style="text-align: center !important; margin-top:190px !important; display:none; color:#fff"> Se registro su comentario</h3>
            <br>
            <br>
            <br>
            <br>
            <div class="col-12 border" style="background-color: #03324e; border-radius: 20px">
              <br>
              <h4 class="text-white">¿Tienes dudas con este servicio?</h4>
              <h6 class="text-white">Comunicate con nosotros:</h6>
              <br>
              <div class="d-flex" style="    justify-content: center;">
                <a href="https://www.facebook.com/Redciudadanagt" class="nav-link-social text-white" target="_blank"><i class="fab fa-facebook pad0100 ft30" aria-hidden="true"></i></a>
                <a href="https://twitter.com/RedxGuate" class="nav-link-social text-white" target="_blank"><i class="fab fa-twitter pad0100 ft30" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/redxguate" class="nav-link-social text-white" target="_blank"><i class="fab fa-instagram pad0100 ft30" aria-hidden="true" ></i></a>
              </div>
              <br>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>


  <!--Comentarios-->
  <div class="w-100">
    <div class="container py-5">
      <div class="row col-12">
        <!---->
        <h4>Comentarios</h4>
        <table class="table" id="comentarios">

          <tbody id="bodytable">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--PAGINAS IMPORTANTES-->
  <div class="w-100">
    <div class="container py-5">
      <div class="row">
        
        <div class="col-md-4 border">
          <br>
          <h4 class="text-left" style="color: #03324e">Publicado por Institucion</h4>  
          <h3>Consulta de tramite</h3>
          <p><strong>Tramite en linea</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <br>
        </div>

        <div class="col-md-4 border">
          <br>
          <h4 class="text-left" style="color: #03324e">Publicado por Institucion</h4>  
          <h3>Consulta de tramite</h3>
          <p><strong>Tramite en linea</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <br>
        </div>

        <div class="col-md-4 border">
          <br>
          <h4 class="text-left" style="color: #03324e">Publicado por Institucion</h4>  
          <h3>Consulta de tramite</h3>
          <p><strong>Tramite en linea</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <br>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}

{% block body_javascripts%}
<!--Script para ocultar el cuadro de comentarios y para realizar el sistema de rating-->
<script>
//ocultar cuadro de comentarios
function ocultar(){
  var x = document.getElementById("containerR");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

//realizar el envio de formulario a la base de datos
function postToGoogle() {
        var field1 = field1 = "{{servicio.nombre}}"
        var field2 = ""
        var field3 = $("#comentario").val();

        if(field3 == ""){
          alert('Por favor escribe un comentario');
          document.getElementById("comentario").focus();
          return false;
        }

        if(document.getElementById("rate-1").checked){
          field2="1";
        }
        if(document.getElementById("rate-2").checked){
          field2="2";
        }
        if(document.getElementById("rate-3").checked){
          field2="3";
        }
        if(document.getElementById("rate-4").checked){
          field2="4";
        }
        if(document.getElementById("rate-5").checked){
          field2="5";
        }

        $.ajax({
            url: "https://docs.google.com/forms/d/e/1FAIpQLSfU4MPldxusLTxY2ZrzhHSXBjuNnpcQdsrkmJEp1fcxpB5HcA/formResponse?",
            data: {"entry.1697369419": field1, "entry.1108195081": field2, "entry.138253872": field3},
            type: "POST",
            dataType: "xml",
            success: function(d)

        
  {
  },
  error: function(x, y, z)
    {

      $('#success-msg').show();
      
    }
        });
return false;
    }
</script>

<!--Script para la lectura de los comentarios en la base de datos-->
<script>

  const tabla = document.querySelector('#comentarios');

  function cargarComentarios(){
    fetch('https://raw.githubusercontent.com/RedCiudadana/Servicios-Publicos/main/_data/comentarios.json')
    .then(respuesta => respuesta.json()) //Indicamos el formato en que se desea obtener la información
    .then(data => {
        for (var i = 0; i < data[0].length; i++) {

          if(data[0][i].Nombre=="{{servicio.nombre}}"){
            const row = document.createElement('tr');
            row.innerHTML += `
                <td>${data[0][i].Rating}</td>
                <td>${data[0][i].Comentario}</td>
            `;
            
            tabla.appendChild(row);  
          }
          
          
        }

    }) // Aquí mostramos dicha información
    .catch(error => console.log('Hubo un error : ' + error.message))

  }

  cargarComentarios();

</script>

{% endblock%}
