---
pagination:
  data: categorias
  size: 1
  alias: categoria2
  addAllPagesToCollections: true
permalink: "categorias/{{categoria2.id}}/{{categoria2.name | slug}}/index.html"
tags:
  - categoria2
---
{% extends "src/base.njk" %}

{% block head %}
  <title>Catálogo de Trámites | {{categoria2.name}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/index2.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> {{categoria2.name}}
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="archive-header-2 text-center">
                    <h1 class="heading-2 mb-10">{{categoria2.name}}</h1>
                    <h6 class="text-body">Categorías Específicas</h6>
                </div>
                <div class="row vendor-grid mt-40">
                {% for catesp in collections.categoriaesp2 %}
                {% if categoria2.id == catesp.data.categoriaesp2.category | last %}
                
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="vendor-wrap mb-40">
                            <div class="vendor-img-action-wrap">
                                <div class="vendor-img">
                                    <a href="{{servicio.url}}">
                                        <img class="default-img" src="/assets/imgs/ICONOSpng-15.png" alt="" />
                                    </a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Categoría Específica</span>
                                </div>
                            </div>
                            <div class="vendor-content-wrap">
                                <div class="d-flex justify-content-between align-items-end mb-30">
                                    <div class="overflow-hidden" style="height:60px">
                                        <h4 class="mb-5"><a href="{{catesp.url}}">{{catesp.data.categoriaesp2.name}}</a></h4>
                                    </div>
                                </div>
                                <div class="vendor-info mb-30">
                                    <ul class="contact-infor text-muted overflow-hidden" style="height:70px">
                                        <li><img src="assets/imgs/theme/icons/icon-location.svg" alt="" /><span >{{catesp.data.categoriaesp2.description}}</span></li>
                                    </ul>
                                </div>
                                <a href="{{catesp.url}}" class="btn btn-xs">Ver Categoría Específica <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end vendor card-->
                
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}