---
pagination:
  data: categorias
  size: 1
  alias: categoria
  addAllPagesToCollections: true
permalink: "categorias/{{categoria.id}}/{{categoria.nombre | slug}}/index.html"
tags:
  - categoria
---
{% extends "base.njk" %}

{% block head %}{% endblock %}

{% block content %}
  <!-- BUSCADOR-->
  <div class="w-100" style="background-image:url('/ELEMENTOS/ELEMENTOS_WEB SERVICIOS/SLIDER/SLIDER-SERVICIOS_02.png');background-size:cover">
    <div class="container" style="padding:5rem 0">
      <div class="row">
        <div class="col-12 py-2" style="justify-content: center;">
          <h1 style="color: #fff!important" class="text-center">{{categoria.nombre}}</h1>
          <br>
          <br>

          <div class="col-md-12" style="justify-content: center;">
            <div class="w-auto mx-auto" style="max-width: 400px; z-index: 1000;">

              <div class="field">
                <label for="searchField" style="display:none">Search</label>
                <input class="form-control mx-auto" type="search" placeholder="Buscar" id="searchField" style="max-width: 400px;"/>
              </div>
              <div id="searchResultsContainer" class="w-100 rounded bg-white shadow-sm mx-auto" style="max-width: 400px;">
                <ol id="searchResults" style="z-index: 20;">
                </ol>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--CONTENIDO-->
  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row justify-content-center">

        <div class="col-md-10 col-sm-12 col-lg-10 d-flex justify-content-center">
          <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">

            {% for item in collections[categoria.nombre]%}
            <div class="col-span-9 md:col-span-3"> 
              <a href="{{item.url}}">
              <div class="border-rounded d-flex justify-content-center" style="align-items:center;height:100%">
                <div class="text-center p-2 d-flex" style="height:100%;align-items:center">
                  <img style="padding:0.5rem" class="m-auto" height="100px" width="100px" src="/ELEMENTOS/ELEMENTOS_WEB SERVICIOS/SERVICIOS/90 X 90/07.png">
                  <div>
                    <h3 class="h3-blue">{{item.data.servicio.Nombre}}</h3>
                    <p>{{item.data.servicio.Ministerios}}</p>
                    <p>{{item.data.servicio.Descripcion}}</p>
                  </div>

                  
                </div>
              </div>
              </a>
            </div>
            {% endfor %}
            
          </div>
        </div>

      </div>
    </div>
  </div>

  <style>
    #searchResults {
      max-height: 10rem;
      overflow: auto;
      background: white;
      width: 100%;
      position: relative;
    }
  </style>
{% endblock %}

{% block body_javascripts %}

  <script src="/assets/js/retainable.js"></script>
  <!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
  <script>
    (function(window, document) {
    "use strict";

    const search = e => {
      const results = window.searchIndex.search(e.target.value);

      const ol = document.getElementById("searchResults");
      const searchResultsContainer = document.getElementById("searchResultsContainer");
      ol.innerHTML = "";
      searchResultsContainer.style.position = 'none';
      if (results && results.length > 0) {
        searchResultsContainer.style.position = 'absolute';
        results.map(r => {
          const { id, nombre, ministerios } = r.doc;

          // this is where you'll go wild with your own HTML injection.
          const li = document.createElement("li");
          ol.appendChild(li);

          const a = document.createElement("a");
          a.setAttribute("href", id);
          a.textContent = `${nombre}, ${ministerios}`;
          li.appendChild(a);
        });
      }
    };

    fetch("/search-index.json").then(response =>
      response.json().then(rawIndex => {
        window.searchIndex = elasticlunr.Index.load(rawIndex);
        document.getElementById("searchField").addEventListener("input", search);
      })
    );
  })(window, document);
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}