---
permalink: "contacto/index.html"
---
{% extends "src/base.njk" %}

{% block head %}
    <title>Catálogo de Trámites | Contacto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
        <section class="featured section-padding">
            <div class="container">
                <div class="row mb-20 mt-40">

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/preguntas.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro3.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Preguntas</h3>
                                <h3 class="icon-box-title">Frecuentes</h3>
                            </div>
                        </div></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/tutoriales.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro1.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Tutoriales</h3>
                            </div>
                        </div></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/quejas.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro2.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Quejas</h3>
                            </div>
                        </div></a>
                    </div>

                </div>
            </div>
        </section>

        <section class="featured section-padding">
            <div class="container">
                <div class="row mb-40 mt-40">
                    <iframe width="640px" height="1100px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=2ZUOoAntjkefOnqgJd61FuGhX3jdxopEs6Q_ftlLBexURTFFWDdHVVhIRVdLVEFKR1hWVk9HODBKTC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
                </div>
            </div>
        </section>
{% endblock %}