---
permalink: "estadisticas/index.html"
---
{% extends "src/base.njk" %}

{% block head %}
    <title>Catálogo de Trámites | Estadísticas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/index2.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> Estadísticas
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="archive-header-2 text-center">
                    <h4 class="display-4 mb-50">Estadísticas</h4>
                    <h6>El catálogo cuenta con {{collections.servicios | length }} trámites, proporcionados por {{collections.instituciones_comp | length}} instituciones</h6>
                </div>
            </div>
        </div>

        <section class="featured section-padding">
            <div class="container">
                <div class="row mb-20 mt-40">
                    <div class="flourish-embed flourish-hierarchy" data-src="visualisation/12897170"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                </div>
            </div>
        </section>

{% endblock %}
