---
permalink: index.html
---

{% extends "base.njk" %}


{% block head %}
  <!--NETLIFY CMS-->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
  <!--SLIDER - BUSCADOR-->
  <div class="w-100" style="background-image:url('/ELEMENTOS/ELEMENTOS_WEB SERVICIOS/SLIDER/SLIDER-HOME.png');background-size:cover ">
    <div class="container" style="padding:5rem 0">
      <div class="row justify-content-center">
        <div class="col-lg-10 py-2 d-flex justify-content-start" >
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h1 style="color: #fff!important; font-size:25px" >Te damos la bienvenida al <strong>portal de servicios</strong> donde podrás ver los trámites de manera rápida, ágil y sencilla.</h1>
          </div>
        </div>  
        <div class="col-lg-10 py-2 d-flex justify-content-center">
          <br>
          <br>

          <div class="col-md-9" style="justify-content: center;position:absolute;top:85px">
            <div class="w-auto" style="max-width: 750px; z-index: 1000; display:contents">
              <div class="bg-white p-4 shadow">
                <div><h3 class="h3-blue text-center">¿Qué servicio estás buscando hoy?</h3></div>
                <div class="field d-flex justify-content-center" style="align-items:center">
                  <label for="searchField" style="display:none">Search</label>
                  <input class="form-control" type="search" placeholder="" id="searchField" style="max-width: 400px;"/>
                  <i class="fa-solid fa-magnifying-glass icon-fazul"></i>
                </div>
                <div id="searchResultsContainer" class="searchResultsContainer w-100 rounded bg-white shadow-sm mx-auto" style="max-width: 450px;">
                  <ol id="searchResults" style="z-index: 20;">
                  </ol>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--CATEGORIAS DESTACADAS-->
  <div class="w-100 " style="background-color:#f3f7f9!important">
    <div class="container py-5">
      <div class="max-w-screen-lg mx-auto " style="margin:3rem auto; padding:0 2rem">
        <div class="grid grid-cols-6 justify-center text-left py-16" style="gap:4rem">

          <div class="col-span-6 md:col-span-3">
            <img src="/ELEMENTOS/WEB SERVICIOS-24.png" width="100%" height="100%">
          </div>

          <div class="col-span-6 md:col-span-3">
            <h1 class="h1-blue">Catálogo de trámites y servicios</h1>
            <br>
            <hr>
            <br>
            <p>Conoce el catálogo de trámites y servicios municipales. 
            Aquí podrás encontrar información sobre requisitos, tiempos y costos.
            </p>
            <br>
            <h3 class="h3-blue">¿Qué deseas hacer?¿Que categoría deseas explorar?</h3>
            <br>
            <div class="d-flex " style="align-items:center"> 
              <img class=" rounded r-temp" >
              <p class="pad0001">Categoría de Salud</p>
            </div>
            <div class="d-flex pt-2" style="align-items:center"> 
              <img class=" rounded r-temp" >
              <p class="pad0001">Categoría de Salud</p>
            </div>
            <div class="d-flex pt-2" style="align-items:center"> 
              <img class=" rounded r-temp">
              <p class="pad0001">Categoría de Salud</p>
            </div>
            <br>
            <a href="#categorias" class="btnAzulO2">Ver más categorías<i class="fa-solid fa-chevron-right"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!--SERVICIOS DESTACADOS-->
  <div class="w-100 " style="background-color:#f3f7f9!important">
    <div class="container py-5">
      <div class="row row-eq-height  justify-content-center">

        <div class="col-lg-10">
          <h1 class="h1-blue">Destacados</h1>
          <br>
          <hr>
          <br>
        </div>

        <div class="col-lg-10 d-flex justify-content-center">
          <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">
          
            <div class="col-span-9 md:col-span-3">
              <!--destacados limit 1-->
              <div class="cuadro shadow bg-white my-2">
                <img src="/ELEMENTOS/WEB SERVICIOS-24.png">
                <div class="col-md-12">
                  <div class="py-2 d-flex justify-content-start">
                    <a style="pointer-events: none" class="tag" href="">Servicio</a>
                  </div>
                  <h3 class="h3-blue">Servicio de Salud</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Lacinia quis vel eros donec. Natoque penatibus et magnis dis parturient montes. </p>
                  <div class="py-2 d-flex justify-content-end">
                    <a href="">Conoce más <i class="fa-solid fa-chevron-right"></i></a>
                  </div>              
                </div>        
              </div>
            </div>

            <div class="col-span-9 md:col-span-6">
              <!--destacados limitSinPrimero 4 reversed-->
              <div class="cuadro shadow bg-white d-flex my-2">  
                <div class="grid grid-cols-9 gap-4 justify-center text-left"> 
                  <div class="col-span-9 md:col-span-3">      
                    <img src="/ELEMENTOS/WEB SERVICIOS-24.png">
                  </div>
                  <div class="col-span-9 md:col-span-6 d-flex" style="align-items:center" >
                    <div class="col-md-12">
                      <div class="py-2 d-flex justify-content-start">
                        <a style="pointer-events: none" class="tag" href="">Servicio</a>
                      </div>
                      <h3 class="h3-blue">Servicio de Salud</h3>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Lacinia quis vel eros donec. Natoque penatibus et magnis dis parturient montes. </p>
                      <div class="py-2 d-flex justify-content-end">
                        <a href="">Conoce más <i class="fa-solid fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cuadro shadow bg-white d-flex my-2">  
                <div class="grid grid-cols-9 gap-4 justify-center text-left"> 
                  <div class="col-span-9 md:col-span-3">      
                    <img src="/ELEMENTOS/WEB SERVICIOS-24.png">
                  </div>
                  <div class="col-span-9 md:col-span-6 d-flex" style="align-items:center">
                    <div class="col-md-12">
                      <div class="py-2 d-flex justify-content-start">
                        <a style="pointer-events: none" class="tag" href="">Servicio</a>
                      </div>
                      <h3 class="h3-blue">Servicio de Salud</h3>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Lacinia quis vel eros donec. Natoque penatibus et magnis dis parturient montes. </p>
                      <div class="py-2 d-flex justify-content-end">
                        <a href="">Conoce más <i class="fa-solid fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cuadro shadow bg-white d-flex my-2">  
                <div class="grid grid-cols-9 gap-4 justify-center text-left"> 
                  <div class="col-span-9 md:col-span-3">      
                    <img src="/ELEMENTOS/WEB SERVICIOS-24.png">
                  </div>
                  <div class="col-span-9 md:col-span-6 d-flex" style="align-items:center">
                    <div class="col-md-12">
                      <div class="py-2 d-flex justify-content-start">
                        <a style="pointer-events: none" class="tag" href="">Servicio</a>
                      </div>
                      <h3 class="h3-blue">Servicio de Salud</h3>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Lacinia quis vel eros donec. Natoque penatibus et magnis dis parturient montes. </p>
                      <div class="py-2 d-flex justify-content-end">
                        <a href="">Conoce más <i class="fa-solid fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
        

      </div>
    </div>
  </div>

  <!--CATEGORIAS-->
  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row row-eq-height  justify-content-center">
        <div class="col-lg-10">
          <h1 class="h1-blue" id="categorias">Categorías</h1>
          <br>
          <hr>
          <br>
        </div>

        <div class="col-md-10 col-sm-12 col-lg-10 d-flex justify-content-center">
          <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">

            {% for servicio in collections.servicios%}
              {% for categoria in collections.categorias%}
                {% if servicio.data.categoria === categoria.data.nombre%}
                  <div class="col-span-9 md:col-span-3"> 
                    <a href="{{categoria.url}}">
                    <div class="border-rounded d-flex justify-content-center" style="align-items:center">
                      <div class="text-center p-2">
                        <img class="m-auto" height="100px" width="100px" src="{{categoria.data.img}}">
                        <h3 class="h3-blue">{{categoria.data.nombre}}</h3>
                        <p>{{categoria.data.descripcion}}</p>

                        <div class="d-flex justify-content-center" style="align-items:center">
                          <div class="cuadrado-verde"></div>
                          <p> Servicios : {{ collections[categoria.data.nombre] | length}}</p>          
                        </div>
                        
                      </div>
                    </div>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}

            {% for categoria in collections.categorias%}
              {% for servicio in collections.servicios%}

              {% if categoria.data.nombre == servicio.data.categoria%}
                <div class="col-span-9 md:col-span-3"> 
                  <a href="{{categoria.url}}">
                  <div class="border-rounded d-flex justify-content-center" style="align-items:center; height:100%">
                    <div class="text-center p-2">
                      <img class="m-auto" height="100px" width="100px" src="{{categoria.data.img}}">
                      <h3 class="h3-blue">{{categoria.data.nombre}}</h3>
                      <p>{{categoria.data.descripcion}}</p>

                      <div class="d-flex justify-content-center" style="align-items:center">
                        <div class="cuadrado-verde"></div>
                        <p> Servicios : {{ collections[categoria.data.nombre] | length}}</p>          
                      </div>
                      
                    </div>
                  </div>
                  </a>
                </div>
              {% endif %}

              {% endfor %}  
            {% endfor %}
            
          </div>
        </div>

      </div>
    </div>

    

    <style>
      #searchResults {
        max-height: 10rem;
        overflow: auto;
        background: white;
        width: 100%;
        position: relative;
      }
    </style>
  {% endblock %}

  {% block body_javascripts %}

    <script src="/assets/js/retainable.js"></script>
    <!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
    <script>
      (function(window, document) {
      "use strict";

      const search = e => {
        const results = window.searchIndex.search(e.target.value);

        const ol = document.getElementById("searchResults");
        const searchResultsContainer = document.getElementById("searchResultsContainer");
        ol.innerHTML = "";
        searchResultsContainer.style.position = 'none';
        if (results && results.length > 0) {
          searchResultsContainer.style.position = 'static';
          results.map(r => {
            const { id, nombre, ministerios } = r.doc;

            // this is where you'll go wild with your own HTML injection.
            const li = document.createElement("li");
            ol.appendChild(li);

            const a = document.createElement("a");
            a.setAttribute("href", id);
            a.textContent = `${nombre}, ${ministerios}`;
            li.appendChild(a);
          });
        }
      };

      fetch("/search-index.json").then(response =>
        response.json().then(rawIndex => {
          window.searchIndex = elasticlunr.Index.load(rawIndex);
          document.getElementById("searchField").addEventListener("input", search);
        })
      );
    })(window, document);
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}