---
permalink: index.html
---

{% extends "base.njk" %}


{% block head %}
  <!--NETLIFY CMS-->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
  <!--SLIDER - BUSCADOR-->
 

  <!--CATEGORIAS DESTACADAS-->
  <div class="w-100 " style="background-color:#E3EBF5!important">
    <div class="container py-2">
      <div class="max-w-screen-lg mx-auto " style="margin:3rem auto; padding:0 2rem">

        <div class="row">
          <div class="container">
            <div class="w-100" style="background-image:url('/ELEMENTOS/ELEMENTOS/04_SLIDER/SLIDER_02.png');background-size:cover;    border-radius: 15px ">
              <div class="container" style="padding:6rem 0">
                <div class="row justify-content-center">

                  <div class="col-lg-10 py-2 d-flex justify-content-center" >
                    <div class="col-lg-10 col-md-10 col-sm-12">
                      <h3 style="color: #fff!important; font-weight: 600; font-size: 20px; line-height: normal;"  class=" text-center">Te damos la bienvenida al catálogo de servicios donde podrás conocer como realizar tus trámites de manera rápida, ágil y sencilla.</h3>
                    </div>
                  </div>  

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          
          <div class="w-100" >
            <div class="container" style="padding:3rem 0">
              <div class="row">
                {% for item in collections.categoriasespecificasHighlighted | limit(3) %}
                <div class="col-lg-4 col-sm-12 my-2" >
                  <a href="{{item.url}}">
                    <div class=" d-flex justify-content-center" style="width:100%; height:100%">
                      
                      <div class="text-center w-100">
                        <div class="p-2 " style="background:#c7dde8; border-radius: 15px 15px 0 0;">
                          <img class="m-auto" style="height:50px; width:50px; margin:10px 0 0 5px" src="/ELEMENTOS/ELEMENTOS MEJORAS/ICONOS/ICONOS-32.png">  
                        </div>
                        <div class="cuadros-esp"></div>
                        <div class="p-2 " style="background:#fff; border-radius: 0 0 15px 15px;">
                          <h3 class="h3-blue " style="font-size:14px; font-weight:700">{{item.data.categoriaesp.name}}</h3>
                          <p style="font-size:10px">{{item.data.categoriaesp.description}}</p>
                        </div>
                        
                      </div>
                    </div>

                  </a>
                </div>  
                {% endfor %}

                
              </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>

  <!--SERVICIOS DESTACADOS-->
  <div class="w-100 " style="background-color:#fff!important">
    <div class="container py-2">
      <div class="max-w-screen-lg mx-auto " style="margin:3rem auto; padding:0 2rem">
      
        <div class="row row-eq-height ">

          <div class="col-lg-10">
            <h1 class="h1-blue">¿Qué información necesitas?</h1>
            <br>
            <br>
          </div>
          

        </div>
      
        <div class="row">
            
          <div class="w-100" >
            <div class="container">
              <div class="row">
                {% for item in collections.categoriaesp %}
                <div class="col-lg-4 col-sm-12 my-2" >
                  <a href="{{item.url}}">

                    <div class="border-rounded d-flex justify-content-center w-100" style=" height:100%">
                      <img class="" style="height:50px; width:50px; margin:10px 0 0 5px" src="/ELEMENTOS/ELEMENTOS MEJORAS/ICONOS/ICONOS-32.png">
                      <div class=" p-4">                
                        <h3 class="h3-blue" style="font-size:14px; font-weight:700">{{item.data.categoriaesp.name}}</h3>
                        <p style="font-size:10px">{{item.data.categoriaesp.description}}</p>
                
                      </div>
                    </div>

                  </a>
                </div>  
                {% endfor %}

                


              </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>

  <!--CATEGORIAS-->
  <div class="w-100 " style="background-color:#E3EBF5!important">
    <div class="container py-5">
      <div class="max-w-screen-lg mx-auto " style="margin:3rem auto; padding:0 2rem">
        <div class="row row-eq-height  ">

          <div class="col-lg-6 col-sm-12">

            <p>Podcast</p>
            <h1 class="h1-blue">Tramites Guatemala</h1>
            <p>El podcast donde analizaremos algunos de los tramites mas importantes de Guatemala, compartiremos experiencias y consejos para un proceso exitoso #TramitesGT</p>
            <a class="button-aqua button">Suscribirse</a>

          </div>

          <div class="col-lg-6 col-sm-12">
            {% for podcast in collections.podcastHighlighted%}
            <embed src="{{podcast.data.link}}" style="height:200px;width:100%" title="description"/>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>

    

  <style>
    #searchResults {
      max-height: 10rem;
      overflow: auto;
      background: white;
      width: 100%;
      position: relative;
    }
  </style>
  {% endblock %}

  {% block body_javascripts %}

    <script src="/assets/js/retainable.js"></script>
    <!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
    <script>
      (function(window, document) {
      "use strict";

      const search = e => {
        const results = window.searchIndex.search(e.target.value);

        const ol = document.getElementById("searchResults");
        const searchResultsContainer = document.getElementById("searchResultsContainer");
        ol.innerHTML = "";
        searchResultsContainer.style.position = 'none';
        if (results && results.length > 0) {
          searchResultsContainer.style.position = 'static';
          results.map(r => {
            const { id, nombre, ministerio } = r.doc;

            // this is where you'll go wild with your own HTML injection.
            const li = document.createElement("li");
            ol.appendChild(li);

            const a = document.createElement("a");
            a.setAttribute("href", id);
            a.textContent = `${nombre}, ${ministerio}`;
            li.appendChild(a);
          });
        }
      };

      fetch("/search-index.json").then(response =>
        response.json().then(rawIndex => {
          window.searchIndex = elasticlunr.Index.load(rawIndex);
          document.getElementById("searchField").addEventListener("input", search);
        })
      );
    })(window, document);
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}