---
permalink: preguntas.html
---

{% extends "src/base.njk" %}


{% block head %}
  <!--NETLIFY CMS-->
  <title>Catálogo de Trámites | Preguntas Frecuentes</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}

        <section class="featured section-padding">
            <div class="container">
                <div class="row mb-20 mt-40">

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/preguntas.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro3.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Preguntas Frecuentes</h3>
                            </div>
                        </div></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/tutoriales.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro1.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Tutoriales</h3>
                            </div>
                        </div></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/quejas.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro2.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Quejas</h3>
                            </div>
                        </div></a>
                    </div>

                </div>
            </div>
        </section>
        <div class="container">
            <div class="comments-area px-4">
                <h3 class="mb-30">Preguntas Frecuentes</h3>
                <div class="comment-list">
                    
                    <div class="single-comment justify-content-between d-flex mb-30">
                        <div class="user justify-content-between d-flex">
                            <div class="desc">
                                <h4>¿Cómo puedo contactarme con ChileAtiende?</h4>
                                <p >Para resolver tus dudas sobre los beneficios y servicios entregados por el Estado, visita el portal www.chileatiende.cl. Aquí encontrarás más de 2 mil fichas con información clara y detallada. También puedes llamar al call center de ChileAtiende (101) o dirigirte a alguno de los más de 200 puntos de atención IPS-ChileAtiende ubicados a lo largo del país, donde funcionarios altamente capacitados te entregarán orientación.</p>
                            </div>
                        </div>
                    </div>

                    <div class="single-comment justify-content-between d-flex mb-30">
                        <div class="user justify-content-between d-flex">
                            <div class="desc">
                                <h4 >¿Qué servicios puedo solicitar en los puntos de atención IPS-ChileAtiende?</h4>
                                <p >Actualmente, en los puntos de atención IPS-ChileAtiende se encuentran disponibles beneficios y servicios entregados por 20 instituciones públicas. La información detallada de los trámites disponibles en la actualidad se encuentra en la opción servicios disponibles, del portal ChileAtiende.</p>
                            </div>
                        </div>
                    </div>

                    <div class="single-comment justify-content-between d-flex mb-30">
                        <div class="user justify-content-between d-flex">
                            <div class="desc">
                                <h4>¿Dónde se encuentran ubicados los puntos de atención IPS-ChileAtiende?</h4>
                                <p>La red presencial de IPS-ChileAtiende cuenta con más de 200 puntos de atención a lo largo de todo el país. Para buscar la oficina más cercana a su domicilio haga clic aquí.</p>
                            </div>
                        </div>
                    </div>

                    <div class="single-comment justify-content-between d-flex mb-30">
                        <div class="user justify-content-between d-flex">
                            <div class="desc">
                                <h4 >¿El servicio que entregan los puntos de atención y el portal ChileAtiende es gratuito?</h4>
                                <p >Sí. No obstante, existen algunos trámites que tienen costo, según lo definido por las instituciones responsables de cada proceso. Este dato se encuentra disponible en las fichas publicadas en el sitio web de ChileAtiende, específicamente, bajo el título costo del trámite.</p>
                            </div>
                        </div>
                    </div>

                    <div class="single-comment justify-content-between d-flex mb-30">
                        <div class="user justify-content-between d-flex">
                            <div class="desc">
                                <h4 >¿En los puntos de atención es posible que otra persona realice un trámite por mí?</h4>
                                <p >En algunos casos esto es posible, según el beneficio o servicio; por eso sugerimos verificar los requisitos para autorizar a otra persona en el portal ChileAtiende, en la ficha del trámite correspondiente.</p>
                            </div>
                        </div>
                    </div>

                    <div class="single-comment justify-content-between d-flex mb-30">
                        <div class="user justify-content-between d-flex">
                            <div class="desc">
                                <h4 >¿Qué información puedo encontrar en las fichas de trámites publicadas en el portal ChileAtiende?</h4>
                            <p >Descripción del trámite, beneficiarios (incluye los requisitos que deben cumplir), documentos requeridos, procedimiento para solicitar o acceder a los beneficios y servicios (paso a paso), costo (puede ser gratuito o tener valor), vigencia y marco legal.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}