---
permalink: queescatalogo/index.html
---

{% extends "src/base.njk" %}


{% block head %}
  <!--NETLIFY CMS-->
  <title> ¿Qué es Catálogo de Trámites?</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> ¿Qué es Catálogo de Trámites?
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-center mb-50">
                            <div class="col-lg-6">
                                <img src="/assets/imgs/quees.png" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Bienvenidos al Catálogo de Trámites</h2>
                                    <p class="mb-25">En este espacio cualquier ciudadano encontrará información y enlaces necesarios para realizar trámites ante instituciones públicas desde casa, oficina y/o dispositivo móvil.</p>
                                    <p class="mb-50">Los trámites podrán realizarse de forma electrónica, evitando el uso de papel y largas filas de espera al presentarse a una institución pública; reduciendo pasos, tiempo y costo en la gestión.</p>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}