---
permalink: quejas.html
---

{% extends "src/base.njk" %}


{% block head %}
  <!--NETLIFY CMS-->
  <title>Catálogo de Trámites | Quejas</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}

        <section class="featured section-padding">
            <div class="container">
                <div class="row mb-20 mt-40">

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/preguntas.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro3.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Preguntas Frecuentes</h3>
                            </div>
                        </div></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/tutoriales.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro1.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Tutoriales</h3>
                            </div>
                        </div></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <a href="/quejas.html"><div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp justify-content-center" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/ELEMENTOS/ELEMENTOS/centro2.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Quejas</h3>
                            </div>
                        </div></a>
                    </div>

                </div>
            </div>
        </section>

        <section class="featured section-padding">
            <div class="container">
                <div class="row mb-20 mt-40">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9A2Zv-gr2gY-7nlEKpVV1N62uwR7bbc0q5FN7p1BYohdk8w/viewform?embedded=true" width="640" height="537" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                </div>
            </div>
        </section>
{% endblock %}