---
permalink: tutoriales.html
---

{% extends "base.njk" %}


{% block head %}
  <!--NETLIFY CMS-->
  <title>Tutoriales</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}

    <!--Videos-->
    <div class="w-100 " style="background-color:#E3EBF5!important">
        <div class="container py-2">
            <div class="max-w-screen-lg mx-auto " style="margin:3rem auto; padding:0 2rem">
                <div class="row my-4">
                    <div class="col-lg-4 col-sm-12 my-2" >
                        <a href="/preguntas.html">

                            <div class="border-rounded d-flex justify-content-center w-100" style=" height:100%;background:#fff">
                                <div class=" p-4">                
                                    <h3 class="h3-blue" style="font-size:14px; font-weight:700">Preguntas Frecuentes</h3>                            
                                </div>
                            </div>

                        </a>
                    </div> 
                    <div class="col-lg-4 col-sm-12 my-2" >
                        <a href="/tutoriales.html">

                            <div class="border-rounded d-flex justify-content-center w-100" style=" height:100%;background:#fff">
                                <div class=" p-4">                
                                    <h3 class="h3-blue" style="font-size:14px; font-weight:700">Tutoriales</h3>                            
                                </div>
                            </div>

                        </a>
                    </div> 
                    <div class="col-lg-4 col-sm-12 my-2" >
                        <a href="/quejas.html">

                            <div class="border-rounded d-flex justify-content-center w-100" style=" height:100%;background:#fff">
                                <div class=" p-4">                
                                    <h3 class="h3-blue" style="font-size:14px; font-weight:700">Quejas</h3>                            
                                </div>
                            </div>

                        </a>
                    </div>  
                </div>
                <div class="row my-4">
                    <iframe width="auto" height="315" src="https://www.youtube.com/embed/hLBQ7IYMVVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="row my-4">
                    <iframe width="auto" height="315" src="https://www.youtube.com/embed/XjuVTC5BE0I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}