{% extends "base.njk" %}


{% block head %}
<title>{{nombre}}</title>
<!--LINK DE REFERENCIA PARA RATING https://www.youtube.com/watch?v=KdO9P8FnVN4&t=0s-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

  <!--SLIDER -->
  <div class="w-100" style="background-image:url('/ELEMENTOS/ELEMENTOS_WEB SERVICIOS/SLIDER/SLIDER-SERVICIOS_01.png');background-size:cover ">
    <div class="container" style="padding:8rem 0">
      <div class="row justify-content-center">

        <div class="col-lg-10 py-2 d-flex justify-content-center" >
          <div class="col-lg-10 col-md-10 col-sm-12">
            <h1 style="color: #fff!important;"  class="h1-blue text-center">{{nombre}}</h1>
          </div>
        </div>  

      </div>
    </div>
  </div>

  <!--CONTENIDO-->

  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row justify-content-center">

        <div class="col-lg-12 py-2 ">

          <div class="d-flex">
            <div class="justify-content-start"><a href="/index.html">Inicio</a> / {%for item in collections.categorias %} {%if item.data.nombre == categoria %} <a href="{{item.url}}">{{categoria}}</a> {%endif%}{%endfor%} / <a style="pointer-events:none" href="{{page.url}}">{{nombre}}</a></div>
            <div class="justify-content-end"></div>
          </div>
          
          <div class="container my-5">
            <div class="row py-16 border justify-content-center">
              <div class="col-sm-2 text-center">
                <img src="/ELEMENTOS/ICONOS/ICONOS-04.png">
                <h2 class="h2-blue">Dependencia que autoriza el trámite</h2>
                <p class="p-blue">{{categoria}}</p>
              </div>
              <div class="col-sm-2 border-left  text-center">
                <img src="/ELEMENTOS/ICONOS/ICONOS-05.png">
                <h2 class="h2-blue">Tipo de Documento a obtener</h2>
                <p class="p-blue">{{tipodocumento}}</p>
              </div>
              <div class="col-sm-2 border-left  text-center">
                <img  src="/ELEMENTOS/ICONOS/ICONOS-06.png">
                <h2 class="h2-blue">¿Tiene Costo?</h2>
                <p class="p-blue">{{costo}}</p>
              </div>
              <div class="col-sm-2 border-left  text-center">
                <img src="/ELEMENTOS/ICONOS/ICONOS-07.png">
                <h2 class="h2-blue">Tiempo de Respuesta</h2>
                <p class="p-blue">{{tiemporespuesta}}</p>
              </div>
              <div class="col-sm-2 border-left text-center">
                <img style="padding:20px" src="/ELEMENTOS/ICONOS/ICONOS-09.png">
                <h2 class="h2-blue">Quejas</h2>
                <p class="p-blue">{{quejas}}</p>
              </div>
            </div>
          </div>
          
        </div>

        <div class="col-lg-11"> 
          <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">
          
            <div class="col-span-9 md:col-span-6">
              <h3 class="h1-blue">¿Qué es?</h3>
              <br>
              <hr>
              <br>
              <p>{{descripcion}}</p>
              <br>
              <h3 class="h1-blue">Normativa:</h3>
              <br>
              <hr>
              <br>
              <p>{{normativa}}</p>
              <br>
              <h3 class="h1-blue">Requisitos:</h3>
              <br>
              <hr>
              <br>
              <p>{{requisitos | rmj | safe}}</p>
              <br>
              <h3 class="h1-blue">Los pasos a seguir son los siguientes:</h3>
              <br>
              <hr>
              <br>
              <p>{{pasos | rmj | safe}}</p>
              <br>
            </div>

            <div class="col-span-9 md:col-span-3">
              <!--Rating-->
              <div class="col-12" style="justify-content: center;">

                <a target="_blank" href="{{enlace}}" class="btnAzulO centrado5">Ir al trámite en línea</a> <br>

                <h4>Puntea este servicio!</h4>

                <div id="containerR" class="containerR">
                  <div class="postR">
                    <div class="textR">Gracias por el Comentario!</div>
                  </div>
                  <div class="star-widget">
                    <input type="radio" name="rate" id="rate-5">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1" class="fas fa-star"></label>
                    
                    <form action="#" onsubmit="return postToGoogle();return ocultar();">
                      <header></header>
                      <div class="textarea">
                        <textarea id="comentario" cols="30" placeholder="Describe la puntuación..."></textarea>
                      </div>
                      <div class="btn">
                        <button type="submit" id="send" onclick="ocultar()">Comentar</button>
                      </div>
                    </form>
                  </div>
                </div>
                  
              </div>
              <h3 id="success-msg" style="text-align: center !important; margin-top:190px !important; display:none; color:#fff"> Se registro su comentario</h3>
            </div>

              <!--div class="col-12 border" style="background-color: #03324e; border-radius: 20px">
                <br>
                <h4 class="text-white">¿Tienes dudas con este servicio?</h4>
                <h6 class="text-white">Comunicate con nosotros:</h6>
                <br>
                <div class="d-flex" style="    justify-content: center;">
                  <a href="https://www.facebook.com/Redciudadanagt" class="nav-link-social text-white" target="_blank"><i class="fab fa-facebook pad0100 ft30" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/RedxGuate" class="nav-link-social text-white" target="_blank"><i class="fab fa-twitter pad0100 ft30" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/redxguate" class="nav-link-social text-white" target="_blank"><i class="fab fa-instagram pad0100 ft30" aria-hidden="true" ></i></a>
                </div>
                <br>
              </div-->

            </div>
          </div>     
        </div>

        <!--SERVICIOS DESTACADOS-->
        <h3 class="h1-blue">Servicios Destacados</h3>
        <br>
        <hr>
        <br>
        <div class="w-100">
          <div class="container py-5">
            <div class="row">
              
              {% if collections.serviciosHighlighted%}
                {% for item in collections.serviciosHighlighted | limit(4)%}
                  <div class="col-md-4 border">
                    <br>
                    <h4 class="text-left h3-blue" >{{item.data.unidad_ejecutora}}</h4>  
                    <a href="{{item.url}}"><h3>{{item.data.nombre}}</h3></a>
                    <p><strong>{{item.data.categoria}}</strong></p>
                    <p>{{item.data.descripcion}}</p>
                    <br>
                  </div>
                {% endfor %}
              {% endif %}

            </div>
          </div>
        <div>

      </div>
    </div>
  </div>


  <!--Comentarios-->
  <!--div class="w-100">
    <div class="container py-5">
      <div class="row col-12">
        <h4>Comentarios</h4>
        <table class="table" id="comentarios">

          <tbody id="bodytable">
          </tbody>
        </table>
      </div>
    </div>
  </div-->

{% endblock %}

{% block body_javascripts%}
<!--Script para ocultar el cuadro de comentarios y para realizar el sistema de rating-->
<script>
//ocultar cuadro de comentarios
function ocultar(){
  var x = document.getElementById("containerR");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

//realizar el envio de formulario a la base de datos
function postToGoogle() {
        var field1 = field1 = "{{servicio.nombre}}"
        var field2 = ""
        var field3 = $("#comentario").val();

        if(field3 == ""){
          alert('Por favor escribe un comentario');
          document.getElementById("comentario").focus();
          return false;
        }

        if(document.getElementById("rate-1").checked){
          field2="1";
        }
        if(document.getElementById("rate-2").checked){
          field2="2";
        }
        if(document.getElementById("rate-3").checked){
          field2="3";
        }
        if(document.getElementById("rate-4").checked){
          field2="4";
        }
        if(document.getElementById("rate-5").checked){
          field2="5";
        }

        $.ajax({
            url: "https://docs.google.com/forms/d/e/1FAIpQLSfU4MPldxusLTxY2ZrzhHSXBjuNnpcQdsrkmJEp1fcxpB5HcA/formResponse?",
            data: {"entry.1697369419": field1, "entry.1108195081": field2, "entry.138253872": field3},
            type: "POST",
            dataType: "xml",
            success: function(d)

        
  {
  },
  error: function(x, y, z)
    {

      $('#success-msg').show();
      
    }
        });
return false;
    }
</script>

<!--Script para la lectura de los comentarios en la base de datos-->
<script>

  const tabla = document.querySelector('#comentarios');

  function cargarComentarios(){
    fetch('https://raw.githubusercontent.com/RedCiudadana/Servicios-Publicos/main/_data/comentarios.json')
    .then(respuesta => respuesta.json()) //Indicamos el formato en que se desea obtener la información
    .then(data => {
        for (var i = 0; i < data[0].length; i++) {

          if(data[0][i].Nombre=="{{servicio.Nombre}}"){
            const row = document.createElement('tr');
            row.innerHTML += `
                <td>${data[0][i].Rating}</td>
                <td>${data[0][i].Comentario}</td>
            `;
            //se imprime el mensaje de error
            tabla.appendChild(row);  
          }
          
          
        }

    }) // si hay error no se imprime el error
    .catch(error => console.log('Hubo un error : ' + error.message))

  }

  cargarComentarios();

</script>

{% endblock%}
